.b1
{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    position: relative;
}

.b2
{   
    position: absolute;
    border: 1px solid black;
    width: 100px;
    height: 100px;   
    left: 50px;
    top: 50px;
    background-color: chocolate;
}
