/* div
{
    border: solid;
    height: 150px;
    width: 100px;
    
} */

.c1
{
    background-color: grey;
    margin-left: 400PX;
    margin-top: 10PX;
    
}

.c2
{
    background-color: green;
    /* margin-left: 20PX;
    margin-top: 10PX; */
    
       
}

.c3
{
    background-color: blanchedalmond;
    /* margin-left: 20PX;
    margin-top: 10PX; */
    
    
    
}
.c4
{
    background-color: red;
    /* margin-left: 20PX;
    margin-top: 10PX; */
    
    
    
}

.c5
{
    background-color: royalblue;
    /* margin-left: 20PX;
    margin-top: 10PX; */
    
    
}
.c6
{
    background-color: cadetblue;
    margin-left: 350PX;
    margin-top: 20PX;
   
}
.c7
{
    background-color: grey;
    /* margin-left: 20PX;
    margin-top: 10PX; */
    
}
.c8
{
    background-color: grey;
    /* margin-left: 20PX;
    margin-top: 10PX; */
    
    
}
.c9
{
    background-color: grey;
    /* margin-left: 20PX;
    margin-top: 10PX;
     */
    
}
v
.c10
{
    background-color: grey;
    /* margin-left: 20PX;
    margin-top: 10PX; */
    
    
}

.c11
{
    background-color: grey;
    /* margin-left: 20PX;
    margin-top: 10PX; */
    
    
}
.c12
{
    background-color: grey;
    margin-left: 20PX;
    margin-top: 10PX;
    
    
}
.c13
{
    background-color: grey;
    margin-left: 20PX;
    margin-top: 10PX;
    
    
}
.c14
{
    background-color: grey;
    margin-left: 20PX;
    margin-top: 10PX;
    
    
}
.c15
{
    background-color: grey;
    margin-left: 20PX;
    margin-top: 10PX;
    
    
}
.c16
{
    background-color: grey;
    margin-left: 20PX;
    margin-top: 10PX;
    
    
}
.c17
{
    background-color: grey;
    margin-left: 20PX;
    margin-top: 10PX;
    
    
}
.c18
{
    background-color: grey;
    margin-left: 20PX;
    margin-top: 10PX;
    
    
}
.c18
{
    background-color: grey;
    margin-left: 20PX;
    margin-top: 10PX;
    
    
}
.c19
{
    background-color: grey;
    margin-left: 20PX;
    margin-top: 10PX;
    
    
}
.c20
{
    background-color: grey;
    margin-left: 20PX;
    margin-top: 10PX;      
}

.c
{
    border: solid;
    height: 150px;
    width: 100px;
   
    display: inline-block;
}

.cc
{
    border: solid;
    height: 150px;
    width: 100px;
   
    display: inline-block;
}
